body {
    background-color: wheat;
    height: 100%;
}

.content-a {
    padding: 25px;
    border: 10px solid wheat;
    /* margin-top: 50px;
    margin-left: 90px; */
}

.bio {
    padding: 25px;
    border: 10px solid wheat;
}

.links {
    text-align: center;
}

.card {
    height: 100%;
}

/* .plant {
    margin-left: 120px;
    margin-top: 50px;
} */