main {
    display: flex;
    justify-content: center;
}

.navbar-brand {
    font-weight: 700;
    text-align: center;
    font-family: helvetica;
    font-size: 30px;
}

body {
    background-color: wheat;
}

.card {
    margin-top: 50px;
}

/* fix background image */
img {
    size: 10px 50px;
    padding: 15px;
}

#contact-form {
    margin: 50px auto;
    font-family: helvetica;
}
.row {
    justify-content: center;
}

.col-md-12 {
    margin-left: 45%;
    position: absolute;
    margin-top: 30px;;
}
 p.text-muted {
    margin-top: 50px;;
    margin-left: -55px;
} 
 
#sticky-footer {
    margin-top: 25%;
}
