main {
    display: flex;
    justify-content: center;
}

.navbar-brand {
    font-weight: 700;
    text-align: center;
    font-family: helvetica;
    font-size: 30px;
}

body {
    background-color: wheat;
}

.card {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-text {
    text-align: center;
}

/* fix background image */
img {
    size: 10px 50px;
    padding: 15px;
}

/* .row    {
    width: 100%;
}
.portfolio-builder-image {
    border: 10px solid  white;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
}

.img {
   height: 267px;
   width: 467px;
   position: absolute;
} */