main {
    display: flex;
    justify-content: center;
}

.navbar-brand {
    font-weight: 700;
    text-align: center;
    font-family: helvetica;
    font-size: 30px;
}

body {
    background-color: wheat;
}

.row    {
    width: 100%;
}
img {
    border: 10px solid  white;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}