main {
    display: flex;
    justify-content: center;
}

.navbar-brand {
    font-weight: 700;
    text-align: center;
    font-family: helvetica;
    font-size: 30px;
}

body {
    background-color: wheat;
}

.card {
    margin-top: 50px;
    margin-bottom: 50px;
}

.card-text {
    text-align: center;
}

/* fix background image */
img {
    size: 10px 50px;
    padding: 15px;
}

p {
    text-align: center;
    font-size: small;
    margin-left: 6px;
}

a {
    text-align: center;
}